<div class="row my-5">
  <div class="col-md-3">
    {% if person.image %}
     	<img class="img-fluid rounded" src="assets/images/{{ person.image}}" alt="Portrait">
    {% endif %}
  </div>
  <div class="col">
  	<div class="lead">{{ person.name }}</div>
  	<div class="text-muted">{{ person.position }}</div>


    {% assign toggle_var = false %}
    {% if person.orcid %}
      {% if toggle_var %}
        | 
      {% endif %}
      {% assign toggle_var = true %}
		  <a itemprop="sameAs" content="https://orcid.org/{{person.orcid}}" href="https://orcid.org/{{person.orcid}}" target="orcid.widget" rel="noopener noreferrer" style="vertical-align:top;">
      <i class="ai ai-orcid ai-1x orcid"></i>ORCID</a> 
    
    {% endif %}

    {% if person.googlescholar %}
      {% if toggle_var %}
        | 
      {% endif %}
      {% assign toggle_var = true %}
      <a href="{{person.googlescholar}}"><i class="ai ai-google-scholar ai-1x googlescholar"></i>Google Scholar</a> 
    
    {% endif %}
     
    {% if person.website %}
      {% if toggle_var %}
        | 
      {% endif %}
      {% assign toggle_var = true %}
      <a href="{{person.website}}">Personal website</a>
    
    {% endif %}
		 
		<p>{{ person.content | markdownify }}</p>

	</div>
</div>