.navbar-light .navbar-nav .nav-link {
  color: #428bca;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.navbar-brand {
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.lead {
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.orcid {
	color: #A6CE39;
}

.googlescholar {
	color: #4788ee;
}

.brainlogo {
	color: #428bca;
}

ol.bibliography { list-style-type: none; }

.abstractindent {
  padding-left: 22px ;
} 